<div class="gallery-panel">
    <div class="" >
        {% if not location_images %}
            no images
        {% else %}
            <div class="images">
	        {% for location_image in location_images %}
	           <div class="col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <img alt="location image" src="{{ location_image.get_thumbnail_url }}">
                    <input type="hidden" value="{{ location_image.image.url }}" />
                    <div class="caption">
				        <small>{{ location_image.time }}</small> 
				        <button class="btn btn-default btn-sm pull-right" type="button"><span class="glyphicon glyphicon-zoom-in"></span></button>
				        <div class="clearfix"></div>
				    </div>
                </div>
	           </div>
	        {% endfor %}
	           <div class="clearfix"></div>
            </div>        
        	<ul class="pager">
	            <li class="next {% if not location_images.has_next %} disabled {% endif %}">
	                {% if location_images.has_next %}
	                    <a href="{% url 'imscam:get_files_pagination' location_id location_images.next_page_number %}">Older &rarr;</a>
	                {% else %}
	                    <a href="#" disabled>Older &rarr;</a>
	                {% endif %}
	            </li>
	            <li>{{ location_images.number }} / {{ location_images.paginator.num_pages }}</li>
	            <li class="previous {% if not location_images.has_previous %}disabled{% endif %}">
	                {% if location_images.has_previous %}
	                    <a href="{% url 'imscam:get_files_pagination' location_id location_images.previous_page_number %}">&larr; Newer</a>
	                {% else %}
	                    <a href="#" disabled>&larr; Newer</a>
	                {% endif %}
	            </li>
	        </ul>
        {% endif %}
    </div>
</div>
