{% extends 'imscam/help_template.html' %}

{% block content %}
    <h4>Create a location</h4>
    
    <img class="img-responsive thumbnail" src='/static/img/help/new_loc.png'>
    
    <p>To create a location, do the following:</p>
    <ol>
        <li>Click on a group which should contain the new location</li>
        <li>Start the live preview</li>
        <li>Move to the desired location</li>
        <li>Click on the "camera" button next to "New location"</li>
        <li>Edit settings</li>
        <li>Click the create button</li>
    </ol> 
    
    <div class="message info">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            It is also possible to create a set of locations first and save them at a later time. Unsaved locations will be marked with a "Not saved"-label
        </div>
    </div>
    
{% endblock %}
