{% extends 'imscam/help_template.html' %}

{% block content %}
    <h4>Edit a group</h4> 
    
    <img class="img-responsive thumbnail" src='/static/img/help/edit_group.png'>
    
    <p>To edit a group, do the following:</p>
    <ol>
        <li>Click on the group you want to edit</li>
        <li>Edit settings</li>
        <li>Click the save button</li>
    </ol> 
    
    <div class="message info">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            The scheduler settings of existing locations won't change if you edit the scheduler settings of a group
        </div>
    </div>
    <div class="message info">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            It is also possible to overwrite the scheduler settings of existing locations with the group settings by checking the "overwrite" checkbox in the settings form of a group
        </div>
    </div>
{% endblock %}
