{% extends 'imscam/help_template.html' %}

{% block content %}
    <h4>Start the live preview</h4>
    
    <div class="message info">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            Live prview can only be started if the user is logged in and has needed permission.
        </div>
    </div>
    
    <img class="img-responsive thumbnail" src='/static/img/help/start_preview.png'> 
    
    <p>To start the live preview, do the following:</p>
    <ol>
        <li>Optionally change the update interval as desired</li>
        <li>Click the play button</li>
    </ol> 
    
    <!-- <img class="thumbnail" src='/static/img/help/play.png'> -->
    
    <div class="message info">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            It is also possible to change the preview interval after the live preview has been started
        </div>
    </div>
    
    <div class="message info">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            While the live preview is running the play button is replaced with a stop button to stop the live preview
        </div>
    </div>
    
    <div class="message info">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            The live preview stops after the page gets reloaded.
        </div>
    </div>
    
    <div class="message danger">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            While the live preview is started the scheduler is not able to automatically take images.
        </div>
    </div>
    
{% endblock %}
