{% extends 'imscam/help_template.html' %}

{% block content %}
    <h4>View a saved location live</h4>
    
    <div class="message info">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            Live prview can only be started if the user is logged in and has needed permission.
        </div>
    </div>
    
    <img class="img-responsive thumbnail" src='/static/img/help/start_preview_location.png'> 
    
    <p>To start the live preview of a saved location, do the following:</p>
    <ol>
        <li>click on a group which is containing the location you want to edit</li>
        <li>Click the play button of the location to view it live</li>
    </ol> 
    
    <!-- <img class="thumbnail" src='/static/img/help/play.png'> -->
    
    <div class="message info">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            The live preview starts with the update interval set in remote control
        </div>
    </div>
    
    <div class="message info">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            It is also possible to change the update interval after the live preview has been started
        </div>
    </div>
    
    <div class="message info">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            While the live preview is running the play button is replaced with a stop button to stop the live preview
        </div>
    </div>
    
    <div class="message info">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            The live preview stops after the page gets reloaded.
        </div>
    </div>
    
    <div class="message danger">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            While the live preview is started the scheduler is not able to automatically take images.
        </div>
    </div>
    
{% endblock %}
