{% load navi_tags %}
<ul class="nav navbar-nav">
    {% url 'imscam:help_about'                 as about_url %}
    {% url 'imscam:help_create_group'          as create_group_url %}
    {% url 'imscam:help_edit_group'            as edit_group_url %}
    {% url 'imscam:help_create_location'       as create_location_url %}
    {% url 'imscam:help_edit_location'         as edit_location_url %}
    {% url 'imscam:help_live_preview'          as live_preview_url %}
    {% url 'imscam:help_live_preview_location' as live_preview_location_url %}
    {% url 'imscam:help_move_pan_tilt'         as move_pan_tilt_url %}
    {% url 'imscam:help_update_pan_tilt'       as update_pan_tilt_url %}
    {% url 'imscam:help_schedule'              as schedule_url %}
    
    <!-- <li><a id="edit_default_settings_tour" href"#">edit default settings</a></li> -->
    <li class="{% if request.path == about_url %}active{% endif %}"><a href="{{ about_url }}">overview</a></li>
    <li class="{% if request.path == live_preview_url %}active{% endif %}"><a href="{{ live_preview_url }}">start live preview</a></li>
    <li class="{% if request.path == live_preview_location_url %}active{% endif %}"><a href="{{ live_preview_location_url }}">start live preview from a location</a></li>
    <li class="{% if request.path == move_pan_tilt_url %}active{% endif %}"><a href="{{ move_pan_tilt_url }}">move pan til head</a></li>
    
    <li class="{% if request.path == create_group_url %}active{% endif %}"><a href="{{ create_group_url }}">create a group</a></li>
    <li class="{% if request.path == edit_group_url %}active{% endif %}"><a href="{{ edit_group_url }}">edit a group</a></li>
    <li class="{% if request.path == create_location_url %}active{% endif %}"><a href="{{ create_location_url }}">create a location</a></li>
    <li class="{% if request.path == edit_location_url %}active{% endif %}"><a href="{{ edit_location_url }}">edit a location</a></li>
    <li class="{% if request.path == update_pan_tilt_url %}active{% endif %}"><a href="{{ update_pan_tilt_url }}">update pan til values of location</a></li>
    
    
    <li class="{% if request.path == schedule_url %}active{% endif %}"><a href="{{ schedule_url }}">schedule locations</a></li>
</ul>