{% load navi_tags %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="/imscam/">IMSCWI</a>
	    </div>
	    
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse navbar-ex1-collapse">
		    <ul class="nav navbar-nav">
				{% url 'imscam:index' as home %}
				<li class="{% active request home %}"><a href="{{ home }}">time-lapse</a></li>
				{% if 'imscam.view_recordings' in perms %}
				    {% url 'imscam:browse' as browse %}
				    <li class="{% active request browse %}"><a href="{{ browse }}">browse images</a></li>
				{% endif %}
				{% if 'imscam.change_settings' in perms %}
				    {% url 'imscam:cam_settings' as settings %}
				    <li class="{% active request settings %}"><a href="{{ settings }}">settings</a></li>
				{% endif %}
				
                {% url 'imscam:help_about' as help %}
                <li class="{% active request help %}"><a href="{{ help }}">help</a></li>

	        </ul>
	        
		     <ul class="nav navbar-nav navbar-right">
		         {% if user.is_superuser %}
		             <li><a href="/admin">admin settings</a></li>
		         {% endif %}
	             {% if user.is_authenticated %}
	                 <li id="logout"><a href="{% url 'imscam:logout' %}">Logout {{ user.username }}</a></li>
	             {% else %}
	                 {% include 'imscam/include/login_form.html' %}
	             {% endif %}
	        </ul>  
	    </div><!-- /.navbar-collapse -->
    </div>
</nav>
