    <div class="panel panel-default">
	  <div class="panel-heading">
	   <span class="">live-preview</span>
	       
	       <span id="viewing-location"> <small>Viewing: <strong><span id="viewing-location-name">Off</span></strong></small></span>
	       
	       {% if PTZ_DRIVER and 'imscam.change_settings' in perms %}
	           <div id="pan-tilt-refresh-wrapper" class="tooltip-elem" data-toggle="tooltip" data-placement="top" title="Save new pan tilt values from currently viewing location">
	            <button id="pan-tilt-updater" type="button" class="btn btn-default btn-xs" data-url="{% url 'imscam:location_update_pan_tilt' %}" disabled>
                    <span class="glyphicon glyphicon-refresh"></span> Update pan-tilt values
                </button>
	           </div>
	       {% endif %}
	       
	    {% if 'imscam.change_settings' in perms %}
            <span id="" class="pull-right">
                <span><small>New location</small></span>
                <div class="tooltip-elem" data-placement="top" title="Create new location from current live preview" style="display:inline-block;">
                <button type="button" class="add-preview-as-location btn btn-default btn-sm" data-url="{% url 'imscam:copypreview' %}" disabled>
                    <span class="glyphicon glyphicon-camera"></span>
                </button>
                </div>
            </span>
            <div class="clearfix"></div>
        {% endif %}
        {% include 'imscam/include/settings/preview_cam_settings.html' %}
        <div class="clearfix"></div>
	  </div>
	  <div class="panel-body">
	    <img id="preview-img" src="{{ MEDIA_PREVIEW }}" data-url="{% url 'imscam:preview' %}" data-sse-url="{% url 'imscam:sse_preview' %}" />
    
	    <input type="hidden" name="ptz-head-x" value="0"></input>
	    <input type="hidden" name="ptz-head-y" value="0"></input>
	    
	  </div>
	</div>    
