<a href="{% url 'imscam:locations' group.id %}" class="list-group-item group-link {% if group.default %}default{% endif %}" data-id='{{ group.id }}'>
	<span class="list-group-item-heading">{{ group.name }}</span> <br />
	<span class="details">
	    <small>
	        Locations: <span class="badge">{{ group.location_set.not_deleted|length }}</span>
	        {% with group as instance %}
                {% include 'imscam/include/settings/play_pause_form.html' %}
            {% endwith %}
            {% if 'imscam.change_settings' in perms and not group.default %}
                <button type='button' class='btn btn-default btn-xs delete pull-right' data-url="{% url 'imscam:group_delete' group.id %}"><span class='glyphicon glyphicon-trash'></span></button>
            {% endif %}
            <input type="hidden" class="edit" name="edit-url" value="{% url 'imscam:group_edit' group.id %}" />
        </small>
    </span>
    <div class="clearfix"></div>
</a>
