{% if PTZ_DRIVER %}
    <div id="pan-tilt-control" class="col-md-offset-1">
	    <div id="cur_pan_tilt_wrapper" hidden="hidden">
	        <div class="row">
	            <div class="col-xs-5 col-xs-offset-2">
	                <small>pan: <span id="cur_pan"></span></small>
	            </div>
	            <div class="col-xs-5">
	                <small>tilt: <span id="cur_tilt"></span></small>
	            </div>
	        </div>
	    </div>
        <input type="hidden" name="cur_pan" value=""></input>
        <input type="hidden" name="cur_tilt" value=""></input>

		      <div class="col-xs-12">
		      <div class="row">
		        <div class="col-xs-4 col-xs-offset-4">
		        <div class=" tooltip-elem" data-toggle="tooltip" data-placement="top" title="Tilt up" style="display:inline-block;">
		            <button type="button" id="ptz_moveup-btn" class="btn btn-default btn-sm ptz_move ptz_move_direction" data-url="{% url 'imscam:ptz_moveup' %}"><span class="glyphicon glyphicon-arrow-up"></span></button>
		            </div>
		        </div>
		        </div>
		        
		        <div class="row">
		        <div class="col-xs-4">
		            <div class=" tooltip-elem" data-toggle="tooltip" data-placement="top" title="Pan left" style="display:inline-block;">
		            <button type="button" id="ptz_moveleft-btn" class="btn btn-default btn-sm ptz_move ptz_move_direction" data-url="{% url 'imscam:ptz_moveleft' %}"><span class="glyphicon glyphicon-arrow-left"></span></button>
		            </div>
		        </div>
		        <div class="col-xs-4">
		            <div class=" tooltip-elem" data-toggle="tooltip" data-placement="top" title="Move to default position" style="display:inline-block;">
		            <button type="button" id="ptz_movecenter-btn" class="btn btn-default btn-sm ptz_move ptz_move_direction" data-url="{% url 'imscam:ptz_movecenter' %}"><span class="glyphicon glyphicon-fullscreen"></span></button>
		            </div>
		        </div>
		        <div class="col-xs-4">
		              <div class=" tooltip-elem" data-toggle="tooltip" data-placement="top" title="Pan right" style="display:inline-block;">
		            <button type="button" id="ptz_moveright-btn" class="btn btn-default btn-sm ptz_move ptz_move_direction" data-url="{% url 'imscam:ptz_moveright' %}"><span class="glyphicon glyphicon-arrow-right"></span></button>
		            </div>
		        </div>
		        </div>

                <div class="row">
			    <div class="col-xs-4 col-xs-offset-4">
			         <div class=" tooltip-elem" data-toggle="tooltip" data-placement="top" title="Tilt down" style="display:inline-block;">
			        <button type="button" id="ptz_movedown-btn" class="btn btn-default btn-sm ptz_move ptz_move_direction" data-url="{% url 'imscam:ptz_movedown' %}"><span class="glyphicon glyphicon-arrow-down"></span></button>
			        </div> 
			    </div>
			    </div>
		      </div>
		    
            
    </div>
    
    <!-- <div id="pt-goto-wrapper" class="remote-control-elem col-sm-12">
        <div class="input-group">
        <div class="tooltip-elem col-sm-5" data-toggle="tooltip" data-placement="top" title="Pan from 0 to 360">
      <input type="text" class="form-control ptz_move input-sm" id="pan_to" name="pan_to" placeholder="pan 0-360"/>
    </div>
    <div class="tooltip-elem col-sm-5" data-toggle="tooltip" data-placement="top" data-container="body" title="Tilt from 0 to 180">
      <input class="tooltip-elem form-control ptz_move input-sm" placeholder="tilt 0-180" disabled>
    </div>
        <div class="input-group-btn tooltip-elem col-sm-1" data-toggle="tooltip" data-placement="top" title="Move to position">
            <button type="button" class=" btn btn-default btn-sm">
                <span class="glyphicon glyphicon-move"></span>
            </button>
        </div>
    </div>
</div> -->

    <div id="pt-goto-wrapper" class="remote-control-elem col-sm-12">
        <div class="input-group">
            <div class="tooltip-elem col-xs-6" data-placement="top" data-toggle="tooltip" data-container="body" title="Pan from 0 to 360">
                <input type="text" class="form-control ptz_move input-sm" id="pan_to" name="pan_to" placeholder="pan 0-360"/>
            </div>
            <div class="tooltip-elem col-xs-6" data-placement="top" data-toggle="tooltip" data-container="body" title="Tilt from 0 to 180">
                <input type="text" class="form-control ptz_move input-sm" id="tilt_to" name="tilt_to" placeholder="tilt 0-180"/>
            </div>
            <div class="input-group-btn tooltip-elem" data-toggle="tooltip" data-placement="top" data-container="body" title="Move to position">
                <button type="button" id="ptz_goto" class="btn btn-default btn-sm" data-url="{% url 'imscam:ptz_moveto' %}">
                    <span class="glyphicon glyphicon-move"></span>
                </button>
            </div>
        </div><!-- /.input-group -->
    </div><!-- /.col -->
    
    
{% endif %}
