{% if 'imscam.view_liveimage' in perms %}
    <div class="row">
	    <div id="preview-control" class="remote-control-elem">
	        <div class="col-sm-12"><small>LIVE preview</small></div>
	        
	        <div class="col-sm-12">
			    <div class="input-group">
			        <input id="preview_update_interval" type="text" class="form-control input-sm tooltip-elem" data-toggle="tooltip" data-placement="top" title="Leave blank to update as fast as possible" placeholder="update in ms" />
			        <span class="input-group-btn">
			            <button id="start-preview-btn" type="button" class="btn btn-default btn-sm tooltip-elem" data-toggle="tooltip" data-placement="top" title="Start live preview" data-url="{% url 'imscam:start_preview' %}"><span class="glyphicon glyphicon-play"></span></button>
	                    <button id="stop-preview-btn" type="button" class="btn btn-default btn-sm stop-preview" data-url="{% url 'imscam:stop_preview' %}" style="display:none;"><span class="glyphicon glyphicon-stop"></span></button>
			        </span>
			    </div><!-- /input-group -->
			</div><!-- /.col -->
			
	        
	        {# <!-- {% render_preview_settings %} --> #}
	    </div>
	
	
	    {% include 'imscam/include/remote_control/pt_control.html' %}
	
		   
	    <!-- <div class="remote-control-elem input-group input-group-sm">
	        <div class="col-sm-8 col-md-8 col-lg-8">
	            preview interval in ms
	        </div>
	        <div class="col-sm-4 col-md-4 col-lg-4 input-group input-group-sm">
	            <input id="preview_update_interval" type="text" class="form-control" placeholder="2000" />
	        </div> 
	    </div>  -->
	    {% if 'imscam.change_settings' in perms %}
		    <div id="" class="remote-control-elem col-sm-12">
		        <span><small>New location</small></span>
		        <div class="pull-right tooltip-elem" data-toggle="tooltip" data-placement="top" title="Create new location from current live preview">
		            <button type="button" class="add-preview-as-location btn btn-default btn-sm" data-url="{% url 'imscam:copypreview' %}" disabled><span class="glyphicon glyphicon-camera"></span></button>
		        </div>
		        <div class="clearfix"></div>
		    </div>
	    {% endif %}
	</div>
{% else %}
    <div>No permissions to start live preview</div> 
{% endif %}
