<div class="panel panel-default">
    <div class="panel-heading">
        remote control
    </div>
    <div class="panel-body">
        {% if user.is_authenticated %}
            {% include 'imscam/include/remote_control/remote_control.html' %}
        {% else %}
            <p>Login first</p>
        {% endif %}
    </div>
</div>
