{% load staticfiles i18n %}
<!DOCTYPE html>

<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
        {% block meta_tags %}{% endblock %}
        <title>
            {% block title %}Webinterface{% endblock %}
        </title>
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{% static 'bootstrap-3.1.1-dist/css/bootstrap.min.css' %}" type="text/css" />
            <link rel="stylesheet" href="{% static 'datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" type="text/css" />
            <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
            
        {% endblock %}
        {% block javascript %}
            <script src="{% static 'jquery/jquery-2.0.3.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'jquery/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'bootstrap-3.1.1-dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'moment/moment.min.js' %}" type="text/javascript"></script>            
            <script src="{% static 'datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'bootbox/bootbox.min.js' %}" type="text/javascript"></script>
        {% endblock %}
        {% block extra_head %}{% endblock %}
        
        
    </head>
    <body>
		<div id="main">
			        {% include "imscam/include/navi.html" %}
				<div class="container-fluid">
				    <div id="spinner" class="spinner" style="display:none;">
                        <img id="img-spinner" src="{% static 'img/spinner.gif' %}" alt="Loading"/>
                    </div>
				    <!-- <div id="success-message" class="alert alert-success" hidden="hidden"></div> -->
				    <!-- <div id="error-message" class="alert alert-danger" hidden="hidden"></div> -->
				    <div class="main-alert alert alert-success" hidden="hidden"></div>
				    <div class="main-alert alert alert-danger" hidden="hidden"></div>
				    <div class="main-alert alert alert-info" hidden="hidden"></div>
				    <div class="main-alert alert alert-warning" hidden="hidden"></div>
			        {% block content %}
		            {% endblock %}
				</div>
		</div>
		<script src="{% static 'js/imscam.js' %}" type="text/javascript"></script>
    </body>
</html>
