{% extends 'imscam/base.html' %}
{% load staticfiles %}
{% load utils %}
{% load reldates %}

{% block content %}
    <div id="left-content" class="col-sm-4">
        <div class="panel panel-default">
            <div id="gallery_location_list" class="panel-body">
            
                
            {% for group in groups %}
            <div>
                <h4 class="">
                    <a href="#" class="collapse-section">
                        <span class="glyphicon glyphicon-chevron-down"></span> {{ group }}
                    </a>
                </h4>
                
                {% if not group.location_set.all %}
                    <div>no locations</div>
                {% else %}
                    <div class="list-group">
                        {% for location in group.location_set.not_deleted %}
                            <a href="{% url 'imscam:get_files' location.id %}" class="list-group-item">
                                {% get_latest_locationimage location.id as latest %}
                                {% if latest %}
                                    <img class="col-md-5 col-sm-12 col-xs-12" src="{% url 'imscam:get_latest_locationimage' latest.id %}" alt="latest location image">
                                <div class="media-body col-md-7 col-sm-12 col-xs-12">
                                {% else %}
                                <div class="media-body col-xs-12">
                                {% endif %}
                                    <h5 class="media-heading">
                                        {{ location }} 
                                        <span class="pull-right"><span class="glyphicon glyphicon-picture"></span> {{ location.locationimage_set.all|length }}</span>
                                    </h5>
                                    
                                    {% if location.locationimage_set.all %}
                                    <span class="details">
                                        {% if latest %}
                                        <!-- updated: {{ latest.time|timesince }} ago -->
                                            <small>latest: {{ latest.time|reldate }}</small>
                                        {% endif %}
                                    </span>
                                    {% endif %}
                                </div>
                                <input type="hidden" value="{{ location.id }}" />
                                <div class="clearfix"></div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% endfor %}
            
           
                     
            </div>
        </div>
    </div>
    <div id="main-content" class="col-sm-8">
        click on a location
    </div>
    
    <script src="{% static 'js/gallery.js' %}" type="text/javascript"></script>
{% endblock %}
