{% load staticfiles i18n %}
<!DOCTYPE html>

<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
        {% block meta_tags %}{% endblock %}
        <title>
            {% block title %}Webinterface{% endblock %}
        </title>
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{% static 'bootstrap-3.1.1-dist/css/bootstrap.min.css' %}" type="text/css" />
            <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
            <link rel="stylesheet" href="{% static 'css/help.css' %}" type="text/css" />
            
        {% endblock %}
        {% block javascript %}
            
            <script src="{% static 'jquery/jquery-2.0.3.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'jquery/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'bootstrap-3.1.1-dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'bootbox/bootbox.min.js' %}" type="text/javascript"></script>
        {% endblock %}
        {% block extra_head %}{% endblock %}
        
        
    </head>
    <body>
		<div id="main">
			        {% include "imscam/include/navi.html" %}
				<div class="container-fluid">
				    <div id="spinner" class="spinner" style="display:none;">
                        <img id="img-spinner" src="{% static 'img/spinner.gif' %}" alt="Loading"/>
                    </div>
				    <!-- <div id="success-message" class="alert alert-success" hidden="hidden"></div> -->
				    <!-- <div id="error-message" class="alert alert-danger" hidden="hidden"></div> -->
				    <div class="main-alert alert alert-success" hidden="hidden"></div>
				    <div class="main-alert alert alert-danger" hidden="hidden"></div>
				    <div class="main-alert alert alert-info" hidden="hidden"></div>
				    <div class="main-alert alert alert-warning" hidden="hidden"></div>
			        
                    
                    <div class="row">
					  <div class="col-sm-3">
					    <div class="sidebar-nav">
					      <div class="navbar navbar-default" role="navigation" style="background-color: #FFFFFF;">
					        <div class="navbar-header">
					          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
					            <span class="sr-only">Toggle navigation</span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
					          </button>
					          <span class="visible-xs navbar-brand">Sidebar menu</span>
					        </div>
					        <div class="navbar-collapse collapse sidebar-navbar-collapse">
					            {% include "imscam/include/help_navi.html" %}
					        </div><!--/.nav-collapse -->
					      </div>
					    </div>
					  </div>
					  <div class="col-sm-9">
					      {% block content %}
					      {% endblock %}
					  </div>
					</div>
				</div>
		</div>
		<!-- <script src="{% static 'js/imscam.js' %}" type="text/javascript"></script> -->
    </body>
</html>
