{% extends 'imscam/base.html' %}
{% load staticfiles %}
{% load imscam_tags %}

{% block content %}
    <div class="row">
        <section id="groups-section" class="col-sm-3">
            {% include 'imscam/include/groups/groups_panel.html' %}
        </section>
        <section id="location-section" class="col-sm-9">
            {% include 'imscam/include/locations/location_panel.html' %}
        </section>
        <section id="group-location-settings" class="col-sm-3 col-xs-12 pull-right">
	        {% include 'imscam/include/settings/group_location_form.html' %}
        </section>
        <section id="preview" class="col-sm-6 pull-right">
            {% include 'imscam/include/preview_panel.html' %}
        </section>
        <section id="remote-control" class="col-sm-3 pull-right">
            {% include 'imscam/include/remote_control/remote_control_panel.html' %}
        </section>
        
    </div>


<script type="text/javascript">



	var language = "{{ language }}";


</script>

<script src="{% static 'js/home.js' %}" type="text/javascript"></script>
<script src="{% static 'js/remote_control.js' %}" type="text/javascript"></script>    

<script type="text/javascript">



	var language = "{{ language }}";
$(document).ready(function() {
	init();
    
});


</script>



{% endblock %}
