{% for field in image_settings_form.visible_fields %}
    <div class="form-group">
        <div class="col-sm-5">
            {{ field.label_tag }}
        </div>
        <div class="col-sm-7">
            {{ field }}
        </div>
    </div>
{% endfor %}
